{% extends './layout.njk' %}

{% block content %}
      <div class="cards-chef">
	 {% for chef in chefs %}
	 <div class="card-chef">
	    <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
	    <div>
	       <p class="img-title-chef">{{chef.name}}</p>
	       <p class="img-recipe">{{chef.total_recipes}} Receitas</p>
	    </div>
	 </div>
	 {% endfor %}
      </div>
{% endblock content %}
