{% extends './layout.njk' %}
{% import './parts/section-recipes.njk' as section%}

{% block style %}
{% endblock style %}


{% block filter%}
   {% include './parts/filter.njk'%}
{% endblock filter %}

{% block content %}

   <main>
      <div class="banner">
         <div class="banner-text">
            <p class="title">As Melhores Receitas</p>
            <p class="text">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
         </div>
	 <img src="/chef.png" alt="Chef">
      </div>

      {{section.recipes('Últimas Receitas', '',  'wrapper', recipes)}}

   </main>
{% endblock content %}
