<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      {% block title %}
         <title>Foodfy</title>
      {% endblock title %}

      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body>
      <div class="content header-layout">
         <header>
            {% include './parts/header.njk' %}
            {% block filter %}{% endblock filter %}

         </header>

         {% block content %}{% endblock content %}
      </div>

      <footer>
         {% include './parts/footer.njk' %}
      </footer>

      <script src='/script/script.js'></script>
   </body>
</html>