<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      {% block title %}
         <title>Foodfy</title>
      {% endblock title %}

      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/global.css">
   </head>
   <body>
      <div id='user-page'>
         {% include './parts/header.njk' %}
         {% block filter %}{% endblock filter %}
      </div>

      <main>
         {% block content %}{% endblock content %}
      </main>

      <footer>
         {% include './parts/footer.njk' %}
      </footer>

      <script src='/script/script.js'></script>
   </body>
</html>