{% extends './layout.njk' %}
{% import './parts/section-recipes.njk' as section%}


{% block content %}
   <main class='recipes-page'>
      {{section.recipes('Receitas', '', wrapper, recipes)}}
      <div class="pagination" data-page='{{paginate.page}}' data-total='{{paginate.total}}' data-filter="{{filter}}"></div>
   </main>

  <script src="/script/paginate-script.js"></script>
  <script src="/script/script.js"></script>
   
{% endblock content %}
