@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --transparency-color: rgba(54, 56, 46, 0.6);
    --primary-color: #EDE6E3;
    --secundary-color: #DADAD9;
    --thirdy-color: #36382E;
    --last-color: #5BC3EB;
    --red-color: #F06449;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    body:relative;
    font-family: 'Roboto', sans-serif;
    background: url("https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center / cover;
}

/*Header e Links */


header {
    background-color: var(--transparency-color);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
    
}


.links a + a {
    margin-left: 32px;
}

.links a {
    position: relative;
    color: var(--red-color);
    text-decoration: none;
}

.links a.active {
    font-weight: bold;
}

.links a:hover{
    color: var(--last-color);
    cursor: pointer;
}

.links a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--last-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 0.5s  cubic-bezier(0.04, 0.69, 0.68, 1.01);
  }

  /* CARD */

  .card {
      background-color: var(--thirdy-color);
      width: 1000px;
      min-height: 400px;
      margin: 45px auto;

      display: grid;
      grid-template-columns: 4fr 6fr;
      box-shadow: 3px 4px 6px -2px rgba(0,0,0,0.5);

      animation: up 200ms ease-in;
  }

  @keyframes up {
      from {
          opacity: 0;
          transform: translateY(15px);
      }

      to {
          opacity: 1;
      }
  }

/* Details */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid var(--primary-color);
    padding: 8px 0px;
}

.details .item:last-child{
    border: none
}

.details h3,
.details .item div:nth-child(1) {
    color: var(--secundary-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
    color: var(--secundary-color);
}


.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--secundary-color)
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secundary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

}

/* Form */

input {
    width: 100%;
    outline: none;
    background-color: var(--thirdy-color);
    color: var(--secundary-color);
    font-weight: bold;
    font-size: 18px;
}

input[type='radio'] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

option {
    
    font-size: 16px;
    font-weight: bold;
}

button[type='submit'],
a.button{
    padding: 8px;
    background-color: var(--last-color);
    color: var(--secundary-color);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

a.button {
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

#form-delete button[type='submit'] {
    margin-top: 8px;
    background-color: var(--red-color);
    font-weight: bold;
}

/*Change text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.table-container {
   display: block;
   padding: 40px;
   box-sizing: border-box;
}

.table-conteinar table {
   border-spacing: 0;
}

.table-container thead tr th {
   text-align: left;
}

td, th {
   padding: 16px;
   border-bottom: 1px solid #e1e1e1;
   color: #e9e9e9;
}

th {
   text-transform: uppercase;
   color: var(--secundary-color);
   font-size: 14px;
}
tbody tr:last-child td {
   border-bottom: none;
}

tbody  tr td:first-child {
   display: grid;
   grid-template-columns: 64px 1fr;
   align-items: center;
}

tbody tr td:first-child span {
   width: 40px;
   height: 40px;
   background-position: center;
   background-size: cover;
   border-radius: 50%;
   box-shadow: 3px 1px 6px -4px white;
   border: 2px solid black;
}

.table-container .header a,
.table-container form button {
   background-color: var(--red-color)
}

.table-container > a,
tbody tr td:last-child a {
   background-color: var(--red-color);
   padding: 8px 16px;
   text-decoration: none;
   text-transform: uppercase;
   color: var(--secundary-color);
   font-weight: bold;
   font-size: 12px;
   border-radius: 6px;
}

.table-container thead tr th:last-child, 
td:last-child {
   text-align: center;
}


tbody td .table-services {
   padding: 8px;
   background-color: var(--last-color);
   border-radius: 16px;
   color: var(--primary-color);
   font-size: 12px;
   font-weight: bold;
   margin-right: 4px;
   margin-top: 8px;
}

td {
   position: relative

}
tbody tr .total_students {
   background-color: var(--last-color);
   padding: 8px;
   border-radius: 10px;
   position: absolute;
   left: 36%;
   top: 30%;
   font-weight: 700;
   font-size: 14px;
  }

/* Filter */

.table-container .header {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   margin-bottom: 32px;
   padding-bottom: 32px;
}

.table-container .header a {
   margin: 0;
   width: 120px;
}


.table-container .header form {
   display: grid;
   grid-template-columns: 1fr 120px;
   align-items: center;
}

.table-container .header form button {
   margin-top: 0;
}

.table-container .header form input {
   border-bottom: 1px solid #eee;
   padding: 4px 8px;
   box-sizing: border-box;
   width: 220px;
}

/* Pagination */

.table-container {
   display: grid;
   grid-template: 64px 1fr 16px / 1fr;
}

.table-container .header {
   margin: 0;
   align-self: start;
}

.table-container .pagination {
   margin: 0;
   align-self: end;
   justify-self: center;
}

.pagination a,
.pagination span {
   color: var(--primary-color);
   text-decoration: none;
   margin-right: 16px;
}

.pagination a:hover{
   filter: brightness(0.7);
   font-weight: 700;
   border-bottom: 1px solid var(--primary-color)
}

/* MESSAGE */

.messages {
   display: flex;
   background-color: orange;
   width: 250px;
   height: 56px;

   align-items: center;
   justify-content: center;

   border-radius: 14px;
   opacity: 1;

   position: fixed;
   bottom: 20px ;
   right: 12px;

   animation: hidemessage 400ms 5s ease-out forwards; 
}

.messages.error {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
}

@keyframes hidemessage {
   to {
      bottom: -50px;
      opacity: 0;
   }
}

.detail.success,
.detail.delete{
   padding: 0;
   padding-bottom: 72px;

   text-align: center;
   margin: auto;
}

.detail.success .success-lottie{
   height: 200px;
}

.detail.delete a,
.detail.delete h2,
.detail.success h2,
.detail.success a {
   color: white;
   text-decoration: none;
}

.detail.success a:hover{
   text-decoration: underline;
}

.detail.delete .delete-lottie {
   height: 160px;
   margin-bottom: 30px;
}
