<form action="/admin/recipes" method='GET'>
    <input type="text" class='filter-class' name='filter' placeholder="Nome da Receita" valeu='{{filter}}'>
    <button class='filter-btn' type='submit'>Filtrar</button>
</form>