<a class="logo-admin" href="/admin/recipes"><img class="logo" src="/logo2.png" alt="Foodfy Admin"></a>

{% include './filter.njk' %}}
<div class="navbar">
   <a href="/admin/recipes">RECEITAS</a>
   <a href="/admin/chefs">CHEFS</a>
</div>