/* Roboto Regular and Bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Default and Layout Page */

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: 'Roboto', sans-serif
}

.content {
   background-color: #fff;
   max-width: 940px;
   margin: 0 auto;
}

.link-logo {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
header {
   position: relative;
   padding: 30px 0;
}

header, main{
   width: 940px;
}

nav{
   justify-self: center;
}

nav a {
   position: relative;
   color: #111111;
   font-size: 16px;
   line-height: 19px;
   text-decoration: none;
   margin: 0 15px;
}

nav a:hover{
   color: #6558C3;
   font-weight: bold;
}

nav a.active {
   font-weight: bold;
   color: #777777;
}

nav a::after {
   content: '';
   width: 0;
   height: 2px;
   background-color: #6558C3;
   position: absolute;
   left: 0;
   bottom: -4px;
}

nav a:hover::after{
   width: 100%;
   transition: width 200ms ease-out;
}

.header-layout header{
   display: grid;
   grid-template-columns: 90.6px 1fr 1fr;
   align-items: center;
   margin-bottom: 32px;
   padding-bottom: 32px;
}

.header-layout header form {
   justify-self: right;
   display: grid;
   grid-template-columns: 1fr 120px;
}

.header-layout header form input {
   border-bottom: 1px solid #eee;
   padding: 4px 8px;
   box-sizing: border-box;
   margin-right: 12px;
   width: 220px;
}

.header-layout button[type='submit']{
   padding: 8px;
   background-color: #6558C3;
   color: white;
   border-radius: 4px;
   width: 100%;
   font-size: 16px;
   font-weight: bold;
}



.banner {
   max-width: 940px;
   height: 366px;
   min-width: 600px;
   background-color: #FBDFBD;
   border-radius: 30px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 50px;
}

.banner img {
   position: absolute;
   right: 100px;
   bottom: 0;
}

.banner-text {
   max-width: 350px;
   margin-left: 60px
}

.banner-text .title {
   font-size: 32px;
   line-height: 38px;
   font-weight: bold;
   color: #111111;
   margin-bottom: 10px;
}

.banner-text .text {
   font-size: 18px;
   line-height: 28px;
   font-weight: normal;
   color: #111111;
   opacity: 0.7;
}

.wrapper {
   max-width: 940px;
}

.wrapper h1 {
   font-size: 24px;
   line-height: 28px;
   font-weight: bold;
   margin-left: 63px;
   margin-bottom: 20px;
   color: #111111;
}
/* CHEF CARD */
.cards-chef {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-chef {
   display: grid;
   grid-template-columns: 64px 1fr;
}

.card-chef + .card-chef{
   margin-left: 16px;
}

.card-chef div{
   margin-left: 16px;
   align-self: center;
}

.card-chef img {
   border-radius: 54px;
   width: 64px;
   height: 64px;
   object-fit: cover;
}

.card-chef .img-title-chef {
   font-size: 18px;
   line-height: 21px;
   color: #111111;
   margin-bottom: 5px;
   text-align: left;
}

.card-chef .img-recipe {
   font-size: 14px;
   color: #666666;
   text-align: left;
}
/* RECIPE CARD*/
.cards {
   max-width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}
.card {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.wrapper h1 {
   margin: 0;
   margin-bottom: 16px;

}
.card img {
   width: 300px;
   height: 140px;
   border-radius: 15px;
   margin: 0 auto 20px auto;
}


.img-title {
   font-size: 18px;
   line-height: 21px;
   color: #111111;
   margin-bottom: 5px;
   text-align:left;
}

.img-chef {
   font-size: 14px;
   line-height: 16px;
   color: #777777;
   margin-bottom: 10px;
   text-align: left;
}

footer {
   width: 100%;
   height: 62px;
   margin-top: auto;
   background-color: #EEEEEE;
   display: flex;
   flex-direction: column;
   justify-content: center;
  
}

footer p {
   font-size: 14px;
   line-height: 16px;
   color: #999999;
   text-align: center;
}

/* ABOUT */

.about h1 {
   font-size: 24px;
   line-height: 28px;
   font-weight: bold;
   color: #111111;
   margin-top: 20px;
}

.about h2 {
   font-size: 20px;
   line-height: 24px;
   font-weight: bold;
   color: #111111;
}

.about p {
   font-size: 18px;
   line-height: 28px;
   color: #444444;
   padding: 20px 0;
   text-align: justify;
}

/* RECIPES */
content {
    width: 940px;
    margin: 0 auto;
}

.banner__details img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 30px;
    object-fit: cover;
}

.info__details {
    text-align: center;

}

.info__details h4 {
    font-size: 36px;
}

.info__details p {
    color: #777;
    font-size: 20px;
}

.instrucions h4 {
    font-size: 24px;
    margin: 30px 0;
}

.instrucions {
    padding: 32px;
}

.instrucions button {
    font-size: 12px;
    color: #999999;
    background: none;
    margin-left: 13px;
    margin-top: 5px;
    cursor: pointer;
}

.ingredients .title,
.preparation .title,
.information .title {
    display: flex;
    align-items: center;
}

.instrucions ul {
    margin-left: 20px;
}

.instrucions ul li {
    font-size: 18px;
    color: #444444;
    line-height: 27px;
}   

.information p {
    margin-bottom: 70px;
    color: #444444;
    font-size: 18px;
    text-align: justify;
    white-space: pre-line;
    line-height: 27px;
}

/* --- ACTIVE/DESACTIVE */

.hide {
    display: block;
}

.hide.active {
    display: none;
} 

/* Seacher*/

.search-title h1 {
   font-size: 24px;
   color: #111111;
   margin-bottom: 32px;
}

main.recipes-page {
   display: grid;
   grid-template: 1fr 36px/ 1fr;
}

main.recipes-page .pagination {
   margin: 0;
   align-self: end;
   justify-self: center;
}
.pagination a,
.pagination span {
   color: #6558C3;
   text-decoration: none;
}

.pagination a:hover {
   filter: brightness(0.7);
   font-weight: 700;
   border-bottom: 1px solid #6558C3;
}
