<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name='viewpoert' content='width=device-width, initital-scale=1.0'>

      {% block title%}
         <title>Admin - Foodfy</title>
      {% endblock title%}

      {% block style %}{% endblock style%}

      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/admin.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   </head>
   <body>
      <div class="content-admin">
         <header>
         {% include './parts/header.njk'%}
         </header>
      

         {% block content %}{% endblock content %}
      </div>

      <script src="/script/script_image.js"></script>
      <script src='/script/paginate-script.js'></script>
      <script src="/script/script.js"></script>
   </body>
</html>