<script>
   function checkRecipes(event) {
      chefRecipes = document.querySelector("input[id='total']").value

      if(Number(chefRecipes) > 0){
	 event.preventDefault()
	 alert("Sorry, you can't delete this chef. Check if Recipe empty")
      } else {
	    const confirmation = confirm("Deseja deletar?")
	    if (!confirmation) {
	       event.preventDefault()
	 }
      }
   }

</script>
