/* --- DETAIL PAGE --- */

.content {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.content h2:first-child {
   padding: 32px 0;
   box-sizing: border-box;
}

.content a.button {
   display: flex;
   align-items: center;
   justify-content: center; 
   box-sizing: border-box;
   position: absolute;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
   right: 0; 
   top: 30px;
   color: white;
   background-color: #6558C3;
   width: 136px;
   height: 37px;
   border-radius: 4px;
}


.banner__details img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 1px 3px 2px black;
}

.info__details {
    text-align: center;

}

.info__details h4 {
    font-size: 36px;
}

.info__details p {
    color: #777;
    font-size: 20px;
}

.instrucions h4 {
    font-size: 24px;
    margin: 30px 0;
}

.instrucions {
    padding: 32px;
}

.instrucions button {
    font-size: 12px;
    color: #999999;
    background: none;
    margin-left: 13px;
    margin-top: 5px;
    cursor: pointer;
}

.ingredients .title,
.preparation .title,
.information .title {
    display: flex;
    align-items: center;
}

.instrucions ul {
    margin-left: 20px;
}

.instrucions ul li {
    font-size: 18px;
    color: #444444;
    line-height: 27px;
}   

.information p {
    margin-bottom: 70px;
    color: #444444;
    font-size: 18px;
    text-align: justify;
    white-space: pre-line;
    line-height: 27px;
}

/* --- ACTIVE/DESACTIVE */

.hide {
    display: block;
}

.hide.active {
    display: none;
}
