<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Teachers Class</title>
    {% endblock title %}

    {% block style %}
        <link rel="stylesheet" href="/style.css">
    {% endblock style %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/teachers">Professores</a>
            <a href="/members">Estudantes</a>
        </div>
    </header>
    {% block content %}
    {% endblock content %}

</body>
</html>