{% extends 'layout.njk' %}


{% block content %}
    <div class="card">
        <section class="avatar" 
            style='background: url(https://source.unsplash.com/collection/430456/500x500) no-repeat center center / cover'>

        </section>
        <section class="details">
            <h3>Detalhes</h3>
            
            <div class="item">
                <div>Nome</div>
                <div>Jorge Dalberto</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Doutorado</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>à distância</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                    <span>Matématica</span>
                    <span>Química</span>
            </div>

            <div class="item">
                <div>Data de cadastro na plataforma</div>
                <div>17/07/2020</div>
            </div>

        </section>

    </div>
{% endblock content %}