{% extends '../layout.njk' %}
{% import '../parts/section-recipes.njk' as section%}
{% block filter %}
  {% include '../parts/filter.njk'%}
{% endblock filter %}

{% block content %}

  <main class='admin-recipes'>
    <div class="recipes">
      <div class="header">
        <h1>Gerenciar Receitas</h1>

        <div class="buttons">
          <a id="create-recipes" href="/admin/recipes/create">Criar receitas</a>
        </div>
      </div>

      {{section.recipes('', '', 'index', recipes)}}

    </div>
    <div class="pagination" data-page='{{paginate.page}}' data-total='{{paginate.total}}' data-filter="{{filter}}"></div>
  </main>

{% endblock content %}
