{% extends '../layout.njk' %}

{% block content %}

<main>
   <div class="chefs">
         <form action="/admin/chefs" method='POST'>
            <section>
               <h1>Criar Chef</h1>
               <button class='add-chef-button' type='submit'>Salvar Chef</button>
            </section>

	    {% include './fields.njk'%}
         </form>
   </div>
</main>

{% endblock content %}
