{% macro recipes(name,filter, classes, recipes)%}
<section class="recipes {{classes}}">
   {%if name %}
      <h1>{{name}}{% if filter%}"{{filter}}"{%endif%}</h1>
   {%endif%}
   <div class="cards">
      {% for recipe in recipes %}
	 <div class="card" id='{{recipe.id}}'>
	    <img src="{{recipe.img}}" alt="{{recipe.title}}">
	    <p class='img-title'>{{recipe.title}}</p>
	    <p class="img-chef">ppr {{recipe.chefs_name}}</p>
	 </div>
      {%endfor%}
   </div>
</section>
{%endmacro%}
