<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    {% block title %}
    {% endblock title %}
    <link rel="stylesheet" href="/default.css">
    <link rel="stylesheet" href="/style.css">

    {% block style %}
    {% endblock style %}

</head>
<body>
    <header>
        <a href='/'><img src="/assets/logo.png" alt="Logo"></a>
        <nav class='navbar'>
            <a href="/guest/about">Sobre</a>
            <a href="/guest/recipes">Receitas</a>
        </nav>
    </header>
   {% block content %}
   {% endblock content %}
   
</body>
</html>
