{% extends 'layout.njk' %}

{% block head %}
    <title>About - Vitor Pontual</title>
{% endblock head %}

{% block content %}
    <div id="wrapper">
        <img src="{{about.avatar_url}}" alt="Vitor Pontual">
        <h1>{{about.name}}</h1>
        <h2>{{about.role}}}</h2>
        <p>{{about.description}}</p>
    </div>
    <div id='links-footer' class='links'>
        {% for variable in about.links %}
            <a href="variable.url" target='_blank'>{{variable.name}}</a>
        {% endfor %}
        
    </div>
{% endblock content %}
