@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
   --primary-color: #6558c3;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: "Roboto", sans-serif;
}


/* ADMIN */

.content-admin {
   width:100%;
   height: 80px;
   background-color: #111;
   margin: 0;
   margin-bottom: 50px;
}

.content-admin header {
   display: flex;
   max-width: 940px;
   margin: 0 auto;
   margin-bottom: 32px;

}

.logo-admin{
   margin-right: 64px;
}

.content-admin .navbar a + a{
   margin-left: 32px;
    
}
.navbar a {
   text-decoration: none;
   color: white;
   font-size: 15px;
   position: relative;
   z-index: 2;
   
}

.navbar a:hover{
   color: #6558C3;
}

.navbar a.active {
   font-weight: bold;
   color: #999999;
}

.navbar a::after{
   content: '';
   width: 0%;
   height: 3px;
   background-color: white;
   position: absolute;
   left: 0;
   bottom: -2px;
}

.navbar a:hover::after{
   width: 100%;
   transition: width 200ms ease-out;
}

.content-admin .chefs,
.content-admin main {
   max-width: 940px;
   margin: 0 auto;
}

.content-admin .recipes .header form input {
   border-bottom: 1px solid #eee;
   padding:  4px 8px;
   box-sizing: border-box;
   margin-right: 12px;
   width: 220px;
   height: 35px;


}
.chefs .cards-chefs .card-chef h1 {
   font-size: 18px;
   font-weight: normal;
   margin-bottom: 0px;
}
.chefs h1,
.content-admin main .recipes h1 {
   font-family: "Roboto";
   font-size: 24px;
   font-weight: bold;
   line-height:28px;
   color: #111;
   margin-bottom: 30px;
}

.chefs section,
.chefs .header,
form section,
.show,
.chefs .header,
.content-admin main .recipes .header {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.content-admin main .chefs form section{
   display: grid;
   grid-template-columns: 1fr 1fr

}

.chefs .chef-detail {
   margin: 0 auto;
   padding-top: 32px;
   display: grid;
   

}

.chefs .chef-detail .avatar {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   justify-self: center;
   margin-bottom: 24px;
}

.chefs .chef-detail h1 {
   font-size: 36px;
   text-align: center;
   margin-bottom: 20px;
   color: #111111;
}

.chefs .chef-detail h2 {
   font-size: 20px;
   color: #777777;
   text-align: center;
   font-weight: normal;
   margin-bottom: 40px;
}

.show {
   width: 940px;
   margin: 0 auto;
   margin-bottom: 16px;
   
}


.chefs .header .buttons,
.content-admin main .recipes .header .buttons {
   display: flex;
}

#create-chefs,
#create-recipes {
   font-weight: bold;
   text-decoration: none;
   padding: 9px 20px;
   background-color: var(--primary-color);
   color: #fff;
   border-radius: 4px;
   outline: none;
   line-height: 24px;
   margin-left: 16px;
}

.chefs .header .buttons button[type='submit']:nth-child(2){
   width: 123px;
   height: 37px;
}
.header button[type='submit']:nth-child(2),
.recipes form button[type='submit'] {
   padding: 9px 20px;
   background-color: var(--primary-color);
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   line-height: 19px;
   text-decoration: none;
   border-radius: 4px;
   outline: none;
   margin-left: 10px;
}
.chefs .chef-recipes .chef-cards,
.content-admin .recipes .cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0;
}

main .chefs .cards-chefs{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: center;
}
.chefs .card-chef
{
   display:grid;
   grid-template-columns: 64px 1fr;
   align-items: center;
}

.chefs .chef-recipes .chef-cards .card,
.content-admin .recipes .card {
   display: grid;
   grid-template-columns: 172px 1fr;
   gap: 0;
}

.content-admin .recipes .card {
   margin: 32px 0;
}

.chefs .card div:nth-child(2),
.content-admin .recipes .card div:nth-child(2) {
   margin: 0;
   margin-left: 32px;
}

.content-admin .chefs .chef-recipes .chef-cards .card img,
.content-admin .recipes .card img {
   width: 172px;
   height: 80px;
   border-radius: 8px;
   margin: 0 px;
}

.chef-detail img,
.chefs .card img {
   width: 64px;
   height: 64px;
   border-radius: 50px;
   margin: 0;
   object-fit: cover;
}

.chefs .card h1,
.content-admin .recipes .card h1 {
   font-size: 18px;
   font-weight: normal;
   line-height: 21px;
   color: #111;
   margin-bottom: 5px;
}

.chefs .card h2,
.content-admin .recipes .card h2 {
   font-size: 14px;
   color: #777777;
   margin-bottom: 10px;
   font-weight: normal;
}

.chefs .chef-recipes .chef-cards .card a,
.chefs .cards-chefs .card-chef a,
.content-admin .recipes .cards .card a {
   font-size: 14px;
   line-height: 16px;
   text-decoration: none;
   color: var(--primary-color);
   font-weight: bold;
   margin: 0;
}

/* FORM */

.chefs .item div:first-child,
.recipes .item div:first-child {
   font-size: 16px;
   font-weight: bold;
   line-height: 19px;
   color: #111;
   margin-bottom: 10px;
}

.recipes .item select,
.chefs .item input,
.recipes .item input,
.recipes .item textarea{
   width: 940px;
   height: 49px;
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 4px 10px;
   box-sizing: border-box;
   padding: 4px 16px;
   outline: none;
   color: #666;
   margin-bottom: 16px;
}

.repices .item:first-child {
   margin-bottom: 16px;
}

.recipes .item .information textarea {
   height: 200px;
   resize: none;
}

.add-chef-button{
   font-size: 16px;
   font-weight: bold;
   width: 121px;
   height: 37px;
   border-radius: 4px;
   background-color: #6558c3;
   color: white;
   justify-self: self-end;

}

.add-button{
   font-size: 16px;
   font-weight: bold;
   line-height: 19px;
   color: var(--primary-color);
   outline: none;
   margin-bottom: 32px;
}

.delete-button {
   background-color: red;
   padding: 9px 20px;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   line-height: 19px;
   text-decoration: none;
   border-radius: 4px;
   outline: none;
   margin-left: 10px;
}

/* PAGINATION */

.pagination {
   position: fixed;
   bottom: 80px;
   margin-top: auto;
   text-align: center;
}

.pagination a,
.pagination span {
   color: #6558c3;
   text-decoration: none;
}

.pagition a:hover {
   filter: brightness(0,6);
   font-weight:700;
   border-bottom: 1px solid #6558c3
}
