{% extends 'layout.njk' %}

{% block head %}
    <title>About - Vitor Pontual</title>
{% endblock head %}

{% block content %}
    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/42771088?s=460&u=afb4d0452847fb340a507874ac521c707c69a7c1&v=4" alt="Vitor Pontual">
        <h1>Vitor Pontual</h1>
        <h2>Web Developer</h2>
        <p>Estudante de programação full-stack pela Rockseat. </p>
    </div>
    <div id='links-footer' class='links'>
        <a href="https://github.com/vitorpontual" target='_blank'>Github</a>
        <a href="https://twitter.com/vitorpguedes" target='_blank'>Twitter</a>
        <a href="https://www.linkedin.com/in/vitor-pontual/ " target='_blank'>LinkedIn</a>
    </div>
{% endblock content %}
