<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>Vitor Pontual</title>
    {% endblock head %}

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="/" >About</a>
            <a href="/courses">Courses</a>
        </div>
    </header>
    {% block content %}{% endblock content %}

    <footer>
       <p>Endereço da empresa (Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188)<p>
       <p>Direitos autorais (Rocketseat &copy; 2020 - Todos os direitos reservado).</p>
    </footer>

</body>
</html>
