{% extends 'admin.njk' %}

{% block style %}
   <link rel="stylesheet" href="/admin/card.css">
{% endblock style %}

{% block content %} 
   
   <form class="card" method='POST' action="/admin/recipes">

      <section class="form-detail">

	 <h2>Criando Receita</h2>
	 {% include 'admin/fields.njk' %}

      </section>

   </form>
{% endblock content %}
