{% extends 'admin.njk' %}


{% block style %}
   <link rel="stylesheet" href="/admin/card_admin.css">
{% endblock style %}

{% block content %}

   <div class="content">
      <h2>Gereciar Receitas</h2>
      <div class="cards">
       {% for recipe in recipes %}	       
	 <div class="card">	
	    <div class='img_card'>
	       <img src="{{recipe.image}}" alt="">
	    </div>
	    <div class="card_content">
	       <div>{{recipe.title}}</div>
	       <div>{{recipe.author}} </div>
	       <a href="/admin/recipes/{{recipes.indexOf(recipe)}}">Visualizar</a>
	    </div>
	 </div>
       {% endfor %}
      </div>
   </div>

{% endblock content %}
