{% extends 'admin.njk' %}

{% block style %}
   <link rel="stylesheet" href="/admin/details.css">
{% endblock style %}

{% block title %}
    <title>{{recipes.title}} por {{recipes.author}}</title>
{% endblock title %}


{% block content %}
    <div class='content'>

        <h2>Receita: {{recipes.title}}</h2>

	<a class="button" href="/admin/recipes/{{ recipes.id }}/edit">Editar receita</a>
        <div class="banner__details">
            <img src="{{recipes.image}}" alt="{{items.title}}">
        </div>

        <div class="info__details">
            <h4>{{recipes.title}}</h4>
            <p class="author">por {{recipes.author}}</p>
        </div>

        <div class="instrucions">

            <div class="ingredients">
                <div class="title">
                    <h4>Ingredientes</h4>
                    <button>ESCONDER</button>
                </div>
                <div class="hide">
                    {% for ingredient in recipes.ingredients %}
                    <ul>
                        <li>{{ingredient}}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <div class="preparation">
                <div class="title">
                    <h4>Modo de preparo</h4>
                    <button>ESCONDER</button>
                </div>
                <div class="hide">
                    {% for item in recipes.preparation %}
                    <ul>
                        <li>{{item}}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <div class="information">
                <div class="title">
                    <h4>Informações adicionais</h4>
                    <button>ESCONDER</button>
                </div>
                <p class="hide">{{recipes.information}}</p>
            </div>
        </div>

    </div>

    <script src='/script.js'></script>
{% endblock content %}
