{% extends 'layout.njk' %}

{% block style %}
    <link rel="stylesheet" href="about.css">
{% endblock style %}

{% block content %}
    <div class='content'>
        <img src="{{about.image}}" alt="{{about.company}}">
        <div class="about">
            <h1>{{about.company}}</h1>
            <h2>{{about.title}}</h2>
            <p>{{about.description}}</p>
        </div>
    </div>
    <section class="cards">
        {% for card in about.cards %}
            <div class="card">
                <div class="card__image-content">
                    <img src="{{card.img}}" alt="{{card.lang}}">
                </div>
                <div class="card__content">
                    <p>{{card.lang}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}

