<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocketseat</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />         
    {% block link %}
    {% endblock link %}

    <link rel="stylesheet" href="style.css">
    {% block style %}
    {% endblock style %}
</head>
<body>
    <header>
        <div class='header'>
            <div class="nav">
                <a href="/">
                <img src="https://app.rocketseat.com.br/static/media/logo.0ae02df1.svg" alt=""></a>
                <ul>
                    <li>
                        <a href="/">Sobre</a>
                    </li>
                    <li>
                        <a href="/courses">Conteúdo</a>
                    </li>                   
                </ul>
    
            </div>
            <div class="social">
                <a href="http://fb.com/rocketseat" target='_blank'>
                    <img src="https://rocketseat.com.br/static/images/icons/facebook.svg" alt="facebook icon">
                </a>
                <a href="http://instagram.com/rocketseat_oficial" target="_blank">
                    <img src="https://rocketseat.com.br/static/images/icons/instagram.svg" alt="instagram">
                </a>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>