{% extends "layout.njk" %}

{% block style %}
    <style>
        h1 {
            margin-top: 100px;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:52;

        }
    </style>
{% endblock style %}

{% block content %}

    <h1>PAGE NOT FOUND</h1>
{% endblock content %}