@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

:root {
    --primary-green: rgb(70, 200, 70);
    --default-color: rgb(113, 89, 193);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100%;
    background-color: #282a36;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
}

header .header{
    width: 80%;
    height: 70px;

    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav {
    height: 100%;
    display: flex;
    align-items: center;
}

header .nav img {
    border-right: 0.01rem solid white;
    padding-right: 20px;
}

header .nav ul {
    display: flex;
}

header .nav li {
    padding: 0 12px;
    list-style: none;
    font-size: 19px;
}

header .nav a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(70, 200, 70);
}

header .social {
    display: flex;
    right: 10px;
    align-items: center;
}

header .social a {
    margin-right: 20px;
}

