{% extends 'layout.njk' %}


{% block content %}
   <main>
      <div class="cards">
	 {% for card  in recipes %}
	    <div class="card" id="{{card.id}}">
	       <img src="{{card.image}}" alt="{{card.title}}">
	       <p class="img-title">{{card.title}}</p>
	       <p class="img-chef">por {{card.chefs_name}}</p>
	    </div>
	 {% endfor %}
      </div>
   </main>

   <script src="/script.js"></script>
   
{% endblock content %}
