@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

:root {
    --primary-green: rgb(70, 200, 70);
    --default-color: rgb(113, 89, 193);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #282a36;
    font-family: 'Roboto', sans-serif;
}

#content-page {
    background-image: url(https://skylab.rocketseat.com.br/static/media/FeaturedCardBg.40a7d53e.png);
    background-size: cover;
}

header {
    background-color: var(--default-color);
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 30px;
}


#content {
    background-color: black;
    justify-content: space-between;
}

.menu,
.social {
    display: flex;
    margin-left: 20px;
}


.social a,
.menu a{
    color: white;
    text-decoration: none;
    padding: 30px;

}

.social a:hover,
.menu a:hover{
    color: var(--primary-green);
}



.content img {
    border-radius: 50%;
    margin-bottom: 32px;
    box-shadow: 5px 2px 15px;
}

.content {
    color:white;
    padding-top: 32px;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
}

section {
    padding-top: 100px;
    
}

.content h1{
    font-size: 42px;
    margin-bottom: 15px;
}

.content h2{
    padding-bottom: 24px;
    font-weight: normal;
    letter-spacing: 3px;
    opacity: 0.8;
}

.content p {
    font-size: 18px;
    color: white;
    opacity: 0.5;
    margin-bottom: 20px;
}

.purple {
    color: var(--default-color);
}

.orange {
    color: orange;
}

.green {
    color: rgb(29, 185, 29);
}

.purple1:hover{
    border: 3px groove var(--default-color);
}
.green1:hover{
    border: 2px groove #59fa7b;
}
.orange1:hover{
    border: 2px groove orange;
}

.um{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: rgb(113, 89, 193);
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(113, 89, 193);
    border-image: initial;
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    color: rgb(253, 149, 31);
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(253, 149, 31);
    border-image: initial;
}

.three {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    color: rgb(4, 211, 97);
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(4, 211, 97);
    border-image: initial;
}

.cards {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 500px;
    margin: 0 auto;
    gap: 20px
}

.card {
    background-color: var(--default-color);
    border: 2px solid rgb(197, 195, 195);
    border-radius: 10px;
}

.card__image-content img{
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.card__content{
    color: white;
    padding: 32px;
    text-align: center;
}

.cards1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1050px;
    margin: 0 auto;
    background: url('https://skylab.rocketseat.com.br/static/media/FeaturedCardBg.40a7d53e.png') 0% 0% / cover;
    gap: 40px;
    transition: all 0.2s ease 0s;
}

.card1 {
    background-color: rgba(15, 13, 13, 0.30);
    display: grid;
    height:600px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    align-items: center;

}

.card__image-content1 img{
   padding-top: 30px;
   
}

.card__content1{
    font-size: 18px;
   padding: 20px;
}

.card__content1,
.card__info1 {
    padding: 24px;;
    color: white;
    filter: brightness(90%);
}

.card__info1 {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.card__info1 p {
    padding: 8px;
}

.card__price1{
    background-color: blueviolet;
    filter: brightness(90%);
    padding: 10px 20px;
    border-radius: 20px;

}

/* MODAL */

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height:100%;
    position:fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal.maximize{
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    
}
.modal .maximize-modal {
    color:black;
    position: absolute;
    right: 30px;
    top: 8px;
    cursor: pointer;
}
.modal .minimize-modal {
    color:black;
    position: absolute;
    right: 50px;
    top: 6px;
    cursor: pointer;
}


.modal .close-modal {
    color:black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* Modal Active */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.modal.maximize {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: visible;
    margin: 0;
}

.modal.maximize iframe { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 3vh 0;
}